.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.board {
  display: flex;
  flex-direction: row;
}

.player {
  margin: 20px 150px;
}

.player .name {
  font-weight: bold;
}

.player .dice{
  font-size: 80px;
  color: darkslateblue;
}

.game .button {
  background-color: #444;
  border: none;
  color: white;
  padding: 7px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;

}